<mat-form-field class="block">
  <input matInput placeholder="FullName" [(ngModel)]="user.fullname">
</mat-form-field>
<mat-form-field class="block">
  <input matInput placeholder="Phone" [(ngModel)]="user.telefono">
</mat-form-field>
<mat-form-field class="block">
  <input matInput placeholder="Address" [(ngModel)]="user.direccion">
</mat-form-field>
<mat-form-field class="block">
  <input matInput placeholder="Document" [(ngModel)]="user.di">
</mat-form-field>
<mat-form-field class="block">
  <input matInput placeholder="Email" [(ngModel)]="user.email">
</mat-form-field>
<mat-form-field class="block">
  <input matInput placeholder="Password" [(ngModel)]="user.password">
</mat-form-field>
<mat-form-field class="block">
  <input matInput placeholder="Image" [(ngModel)]="user.image_url">
</mat-form-field>

<button mat-raised-button color="primary" class="ed-item" (click)="onSave()">Save</button>

